doctype 
html
    head 
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='shortcut icon', href='//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png')
    body

        title = title 
    body 
        nav.w3-bar.w3-border.wr-light-grey(role='navigation')
        .w3-bar-item.w3-text-grey AUTH0 - NodeJS 
        a(href="/").w3-bar-item.we-button Home 
        a(id="qsLoginBtn" href="/login").w3-bar-item.w3-button Log In 
    block content 
    h4 Welcome to Auth0 Implementation